extends layout

block content
  h1 Lienzo de Pixel Art
  div.canvas-container
    canvas#pixelCanvas
    div.tools
      button#clearBtn Limpiar
      input(type="color", id="colorPicker", value="#000000")
  script(src="/javascripts/canvas.js")