extends layout

block content
  h1= title
  form(action="/canvas", method="get")
    label(for="template") Selecciona la plantilla:
    select(name="template")
      option(value="rejilla") Plantilla Rejilla
      option(value="ladrillo") Plantilla Ladrillo
      option(value="mixta") Plantilla Mixta
    br
    label(for="width") Ancho:
    input(type="number", name="width", min="1", required)
    label(for="height") Alto:
    input(type="number", name="height", min="1", required)
    br
    button(type="submit") Crear